@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');

body{ background-color: rgb(238, 58, 58)}
.image {
    display: block;
    margin: 0 auto;
    width: 80%;
    /* height: 500px; */
}

.button {
    display: block;
    margin: 3vh auto;
    text-align: center;
}

@media all and (min-width: 480px) {
}