@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.popup-modal {
  z-index: 1;
  background: rgb(238, 58, 58);
  position: relative;
  margin: 25vh auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
  text-align: center;
  width: 80%;
}

.modal-header {
  display: flex;
  justify-content: flex-end;
  border: none;
}

.modal-close-button {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

.submit {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(238, 58, 58);
  background-color:white;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  margin: 3vh auto 0 auto;
  cursor: pointer;
  padding: .3rem 1rem;
}

/* .button-default {
  background: #247BA0;
  color: #fff;
} */

p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  color: white;
  font-size: 1.6em;
}

.useCurrentLocation {
  /* color: navy; */
  text-decoration: underline;
}

.or {
  font-size: 1.7em;
}

a {
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}